.loginBtn {
  margin-top: 5px;
  margin-left: 5%;
  border-radius: 25px;
  background-color: transparent;
  margin-bottom: 30%;
  border: none !important;
 
}

#authBtn {
  margin-top: 5%;
}

#logo {
  padding-top: 10%;
}