.card3 {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 18px;
  border: 4px solid white;
  box-shadow: 4pt 5pt 0pt 0pt black;
  background-image: url("./images/locBkg.png");
  background-attachment: fixed;
  margin: 3%;
  padding: 2%;
  text-shadow: 2px 2px #000000;
}

.card-header {
  color: white;
}

.loc {
  border-radius: 15px;
  padding: 2%;
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  box-shadow: 3pt 4pt 0pt 0pt rgb(90, 42, 3);
  background-color: black;
}

.fa-globe-americas {
  padding-right: 15px;
}

.fa-phone {
  padding-right: 6px;
}

.card-img-top {
  border-radius: 15px;
  padding: 2%;
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  box-shadow: 3pt 4pt 0pt 0pt black;
  border: 2px solid rgb(181, 181, 181);
}

.trash,
.pencil {
  border-radius: 15px;
}