.App {
  text-align: center;
  background-image: url("./images/background.jpg");
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
  }
  ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  }
