.card {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
}


#clues,
#collections,
#locations {
  background-color: black;
  border-radius: 20px;
  border: 2px solid grey;
  box-shadow: 4pt 5pt 0pt 0pt rgb(92, 91, 88);
}
 
.home {
  margin-top: 5%;
  width: 75%;
  margin-bottom: 25%;
}