.card2 {
  background-color: black;
  font-family: 'Titillium Web', sans-serif;
  border-radius: 18px;
  border: 4px solid white;
  box-shadow: 4pt 5pt 0pt 0pt rgb(92, 91, 88);
  //  background-image: url("./images/clueBKG.png");
  //  background-attachment: scroll;
  margin: 3%;
  padding: 2%;
}

.card-header {
  color: white;
}

.card-img-top {
  border-radius: 15px;
  padding: 2%;
  width: 200px;
  height: 200px;
  margin-bottom: 5%;
  box-shadow: 3pt 4pt 0pt 0pt rgb(92, 91, 88);
}

.fa-comment-alt {
  margin-right: 11px;
}